<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
  <title>Inventory Management</title>
</head>

<body class="helvetica">
  <!-- FORMS -->
   <%- include('./partials/_editForm.ejs') %>
    <%- include('./partials/_createForm.ejs') %>
      <%- include('./partials/_deleteForm.ejs') %>
      
  <!-- TABLE -->
  <div class="pa4 mw8 center">
    <div class="overflow-auto">
      <div class="flex justify-between">
        <h1>Inventory</h1>
        <a class="f6 link dim ph4 pv2 mb2 dib white bg-dark-green tc flex items-center justify-center" href="#"
          id="create-new-item-btn">Create New Item</a>
      </div>
      <!-- ACTIVE ITEMS TABLE -->
      <table class="f6 w-100 center ba bw1 b--black" cellspacing="0">
        <thead>
          <tr class="stripe-dark">
            <th class="fw6 tl pa3 bg-white">ID</th>
            <th class="fw6 tl pa3 bg-white">Name</th>
            <th class="fw6 tl pa3 bg-white">Price</th>
            <th class="fw6 tl pa3 bg-white">Description</th>
            <th class="fw6 tl pa3 bg-white">Manage</th>
            <th class="fw6 tl pa3 bg-white"></th>
          </tr>
        </thead>
        <tbody class="lh-copy">
          <% for (const item of activeItems) { %>
            <tr class="stripe-dark">
              <td class="pa3">
                <%= item.id %>
              </td>
              <td class="pa3">
                <%= item.name %>
              </td>
              <td class="pa3">
                $<%= item.price / 100 %>
              </td>
              <td class="pa3">
                <%= item.description %>
              </td>
              <td class="pa3">
                <a class="f6 link dim ph3 pv2 mb2 dib white bg-black" href="#" id="edit-btn">Edit</a>

              </td>
              <td class="pa3">
                <a class="f6 link dim ph3 pv2 mb2 dib white bg-dark-red" id="delete-btn" href="#">Delete</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>


      <!-- DELETED ITEMS TABLE -->
      <% if (deletedItems.length) { %>
        <br />
        <hr /><br />
        <h3>Deleted Items</h3>
        <table class="f6 w-100 center" cellspacing="0">
          <thead>
            <tr class="stripe-dark">
              <th class="fw6 tl pa3 bg-white">ID</th>
              <th class="fw6 tl pa3 bg-white">Name</th>
              <th class="fw6 tl pa3 bg-white">Deletion Note</th>
              <th class="fw6 tl pa3 bg-white">Manage</th>
            </tr>
          </thead>
          <tbody class="lh-copy">
            <% for (const item of deletedItems) { %>
              <tr class="stripe-dark">
                <td class="pa3">
                  <%= item.id %>
                </td>
                <td class="pa3">
                  <%= item.name %>
                </td>
                <td class="pa3">
                  <%= item.deleteNotes ? item.deleteNotes : 'No Notes' %>
                </td>
                <td class="pa3">
                  <a class="b link ph3 pv2 ba b--black bg-transparent grow pointer f6" id="reactivate-btn"
                    href="#">Reactivate</a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <% } %>

    </div>

  </div>

 

        <!-- ADD DELETE COMMENTS FORM -->

        <!-- SCRIPTS -->
        <script defer src="/scripts/helperFunctions.js"></script>
        <script defer src="/scripts/editItems.js"></script>
        <script defer src="/scripts/createItems.js"></script>
        <script defer src="/scripts/deleteItems.js"></script>
        <script defer src="/scripts/reactivateItems.js"></script>

</body>

</html>